:root {
  --first-color: #090b10;
  --second-color: #0f111a;
  --third-color: #4f46e5;
  --fourth-color: #cbd5e1;
  --fitfh-color: #55667c;
  --red-logo: #ea0031;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--first-color);
  font-family: Arial, sans-serif;
}

.main {
  width: 80vw;
  height: 60vh;
  text-align: center;
  border: 1px solid var(--third-color);
  /* background-color: var(--second-color); */
}

/* .main h1 {
  color: var(--second-color);
} */

.countdown {
  width: 100%;
  /* font-size: 1.6rem; */
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100px, 100%), 1fr)
  );

  gap: 10px;

  color: var(--fourth-color);
  /* background-color: var(--third-color); */
}

.countdown .section {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 25px 25px 10px 10px;
  border: 1px solid var(--fourth-color);
  /* background-color: #ea0031; */
}

.countdown .section .number {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 25px 25px 0 0;
  font-size: 2.4rem;
}

.countdown .section .time {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  background-color: #0f111a;
}
