:root {
  --first-color: #090b10;
  --second-color: #0f111a;
  --third-color: #4f46e5;
  --fourth-color: #cbd5e1;
  --fitfh-color: #55667c;
  --red-logo: #ea0031;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--second-color);
  font-family: Arial, sans-serif;
}

.main {
  width: 90vw;
  max-width: 600px;
  height: 65vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  border-radius: 10px;
  border: 2px solid var(--third-color);
  box-shadow: 0 8px 13px -8px var(--third-color);
  background-color: var(--first-color);
}

.main h1 {
  color: var(--third-color);
}

.main h2 {
  color: var(--fitfh-color);
  width: 100%;
  height: 34px;
  font-size: 20px;
  align-content: center;

  /* Testing */
  animation: grow-shrink 2s infinite; /* Aplica la animación */
}

.countdown {
  width: 90%;
  max-width: 640px;
  /* font-size: 1.6rem; */
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(120px, 100%), 1fr)
  );
  gap: 10px;

  color: var(--fourth-color);
  /* background-color: var(--third-color); */
}

.countdown .section {
  max-width: 200px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 25px 25px 10px 10px;
  border: 1px solid var(--fourth-color);

  box-shadow: 0 3px 13px -8px var(--fourth-color);
}

.countdown .section .number {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 25px 25px 0 0;
  font-size: 2.4rem;
}

.countdown .section .time {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  background-color: #0f111a;
}

@keyframes grow-shrink {
  0%,
  100% {
    font-size: 20px; /* Tamaño inicial en el 0% y 100% del ciclo */
  }
  50% {
    font-size: 21px; /* Tamaño máximo en el 50% del ciclo */
  }
}
